html {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.ss__latest-product {
  margin-top: 2rem;
}

.ss__product-list {
  display: flex;
  flex-wrap: wrap;
}

.ss__featured-products {
  margin-top: 2rem;
}

.ss__product-section-title {
  color: #5d5d5a;
  margin: 1.5rem auto 1.5rem auto;
}

.ss__btn {
  background-color: #85203b;
  color: #fff;
}

.ss__btn:hover {
  color: #fff;
}

.ss__link {
  color: #c94e4e;
}

.ss__link:hover {
  text-decoration: none;
  color: #713045;
}
