{% extends 'store/base.html' %}

{% block title %} Catalog
{% endblock title %}

{% block content %}
<section>
  {% include 'store/fragments/_product_list.html' with products=products section_header_title="Product Catalog" %}
  {% if page_obj.has_other_pages %}
  <div class="ss_pagination d-flex justify-content-center mt-3">
    <a class="mr-2 ss__link" href="{{request.path}}?page=1">&lt;&lt;</a>
    {% if page_obj.has_previous %}
    <a class="ml-2 mr-2 ss__link" href="{{request.path}}?page={{page_obj.previous_page_number}}">&lt;</a>
    {% endif %}
    <span class="ml-2 mr-2">page {{page_obj.number}} of {{page_obj.paginator.num_pages}} </span>
    {% if page_obj.has_next %}
    <a class="ml-2 mr-2 ss__link" href="{{request.path}}?page={{page_obj.next_page_number}}">&gt;</a>
    {% endif %}
    <a class="ml-2 ss__link" href="{{request.path}}?page={{page_obj.paginator.num_pages}}">&gt;&gt;</a>
  </div>
  {% endif %}
</section>
{% endblock content %}
