{% extends 'store/profile-base.html' %}
{% load static %}
{% block title %} Orders {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/accounts.css" %}">
{% endblock extra_css %}

{% block profile_view %}
<div class="ss_customer_orders pl-md-3">
  <h4 class="mb-3">Your Orders</h4>
  <div>
    {% for order in customer_orders %}
    <div>
      <a href="{% url 'order-details' pk=order.id %}" class="ss__link h5">Order Number #{{order.id}}</a>
      <p><span>{{order.date_placed|date:"d-m-Y"}}</span> | <span
          class="badge {%if order.status == 'COMPLETED'%}badge-success{%elif order.status == 'PENDING'%}badge-info {%elif order.status == 'CANCELLED'%}badge-danger{%elif order.status == 'AWAITING PAYMENT'%}badge-warning{%endif%}">{{order.status}}</span>
      </p>
    </div>
    {%empty%}
    <p class="just">You have not made any order, yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock profile_view %}
