{% extends 'store/profile-base.html' %}
{% load static %}
{% block title %} Order #{{order.id}} {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/accounts.css" %}">
{% endblock extra_css %}

{% block profile_view %}
<div class="mt-2">
  <div class="d-flex mb-4">
    <a class="btn mr-2" href="{% url 'customer-orders' %}">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z" />
      </svg>
    </a>
    <div class='h3 mr-auto'>Order #{{order.id}}</div>
    <div
      class="badge {%if order.status == 'COMPLETED'%}badge-success{%elif order.status == 'PENDING'%}badge-info {%elif order.status == 'CANCELLED'%}badge-danger{%elif order.status == 'AWAITING PAYMENT'%}badge-warning{%endif%} align-self-center">
      {{order.status}}</div>
  </div>

  {% if order.status == 'AWAITING PAYMENT' %}
  <a class="btn ss__btn mb-4" href="{% url 'make-order-payment' order.id %}">Complete Payment</a>
  {% endif %}

  <table class="table">
    <thead class="thead-light">
      <th>Order Items</th>
      <th>Quantity</th>
      <th>Sub Total</th>
    </thead>
    <tbody>
      {% for order_item in order_items %}
      <tr>
        <td>{{order_item.product.name}}</td>
        <td>{{order_item.quantity}}</td>
        <td>{{default_currency.symbol}}{{order_item.total_price}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="2">Total</td>
        <td class="font-weight-bold">{{default_currency.symbol}}{{order_total_price}}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock profile_view %}
