{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}Simple online Store{% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    {% compress css %}
      {% block styles %}
        {% comment %} <link rel="stylesheet" href="{% static "css/reset.css" %}"> {% endcomment %}
        <link rel="stylesheet" href={% static "css/styles.css" %}>
      {% endblock styles %}
      {% block extra_css%} {% endblock extra_css %}
    {% endcompress %}
  </head>
  <body>
    <div class="container ss_background">
      {% block header %} 
        {% include 'store/fragments/_header.html' %}
      {% endblock header %} 

      {% block content %}
      {% endblock content %}

      {% block footer %} {% endblock footer %}
    </div>

      <script src={% static "js/main.js"%}></script>
      {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
