{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}Simple online Store{% endblock %}
  </title>
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  {% comment %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
    integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
  {% endcomment %}
  {% comment %} {% compress css %} {% endcomment %}
  {% block styles %}
  <link rel="stylesheet" href={% static "css/styles.css" %}>
  {% endblock styles %}
  {% block extra_css%} {% endblock extra_css %}
  {% comment %} {% endcompress %} {% endcomment %}
</head>

<body class="ss_background">
  {% block messages %}
  {% endblock messages %}
  {% block header %}
  {% include 'store/fragments/_header.html' %}
  {% endblock header %}

  <main class="container">
    {% block content %}
    {% endblock content %}
  </main>

  {% block footer %} {% include 'store/fragments/_footer.html' %} {% endblock footer %}


  <script src="{% static "js/bootstrap.bundle.min.js"%}"></script>
  {% compress js %}
  <script src={% static "js/main.js"%}></script>
  {% block extra_js %}{% endblock extra_js %}
  {% endcompress %}
</body>

</html>
