{% extends 'store/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
{% endblock extra_css %}
{% block title %} Customer Profile {% endblock title %}

{% block content %}
<div class="row mt-4">
  <div class="col-md-3">
    {% include 'store/fragments/_profile-sidebar.html' %}
  </div>
  <div class="profile-view col-md-9 col-sm mt-4 mt-md-0">
    {% block profile_view %}
    {% endblock profile_view %}
  </div>
</div>
{% endblock content %}
